HeatIslandMap/app/main/assets/polygon.geojson filter=lfs diff=lfs merge=lfs -text
/Users/bootkorea/Documents/GitHub/UHI-Monitor/HeatIslandMap/app/src/main/assets/hangjeongdong.geojson filter=lfs diff=lfs merge=lfs -text
